html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

h2 {
    font-size: 200%;
    font-weight: 700;
    color: #2c2c2c;
    text-align: center;
    text-decoration: underline;
    font-family: 'Noto Sans JP', sans-serif;
}

h3 {
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    font-size: 700%;
    position: absolute;
    display: inline-block;
    justify-content: center;
    
}

h3:hover {
    opacity: .6;
}

/* #bands01 {
    text-decoration: none;
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
} */

.rainbow {
    background: linear-gradient(to right, #075eff, #6666ff, #0099ff , #00ff00, #fae102, #f86e13, #ff3399,#f71313, #6666ff, #16ffe0, #04ffb4, #ff2cff, #ff0095, rgb(255, 166, 0), rgb(247, 247, 2), rgb(15, 255, 15), rgb(0, 204, 255), rgb(231, 0, 231), rgb(204, 0, 255), rgb(255, 154, 255), #0099ff , #00ff00, #fae102, #f86e13, #ff3399,#f71313);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 40s ease-in-out infinite;
    background-size: 400% 100%;
    /* -webkit-animation:colorchange 20s infinite alternate; */
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }
  
    50% {
        background-position: 100% 0;
    }
  }

p {
    font-family: 'Special Elite', cursive;
    color: #2c2c2c;
    font-size: 140%;
    line-height: 180%;
    text-align: justify;
    font-weight: 300;
}

img {
    text-align: center;
    max-width: 100%;
    height: auto;
    width: auto;
}

.intro {
    height: 100%;
    width: 100%;
    margin: auto;
    background: url("../img/unwound02.jpg") no-repeat center center fixed;
    -webkit-backdrop-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
    top: 0;
}

.intro .inner {
    display: table-cell;
    width: 100%;
    max-width: none; 
}

.intro .inner .content {
    max-width: 600px;
    margin: auto;
    margin-top: 100px;
    margin-left: 250px;
    left: 350px;
}

.title-text {
    margin: auto;
    font-size: 250%;
    line-height: 1.6;
    color:rgb(255, 255, 255);
    text-align: right;
    margin-bottom: 700px;
    margin-left: 1100px;
    float: left;
    padding: 10px;
}

h1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 550%;
    color: rgb(255, 255, 255);
    padding: 2%;
}

/* start the nav menu */
nav {
    float: left;
    padding: 5% 5% 0% 0%;
    height: 50px;
}

nav ul {
    list-style: none;
    float: left;
}

nav ul li {
    font-family: 'Special Elite', cursive;
    font-size: 120%;
}

nav ul li a {
    color: #FFF;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul, nav:active ul {
    display: none;
    left: 45px;
    top: 200px;
    padding: 8px 0;
    width: 20%;
    z-index: 1000;
}

nav li {
    width: 100%;
    padding: 8px 0 10px 7px;
    margin: 0;
}

nav:hover ul {
    display: block;
    position: absolute;
}

nav i {
    top: 10px;
    left: 16px;
    margin: 10px 0 0 50px;
    font-size: 300%;
    display: inline-block;
    color: #FFF; 
}
/*------End Nav------*/

.left-col {
    width: 60%;
    float: left;
    margin: 4% 0 4% 4%;
}

.sidebar {
    width: 26%;
    float: left;
    margin: 4%;
}

.one-third-port {
    width: 100%;
    /* float: left; */
}

/* .one-third-port img:hover {
    opacity: .6;
} */

.contact p {
    text-align: center;
    letter-spacing: 5px;
}

.contact a {
    color: #2c2c2c;
}

.break {
    display: none;
}

.clearfix {
    clear: both;
    height: 3%;
}

.parallax {
    background: url("../img/wetlandsSunset-2.jpg") no-repeat center center fixed;
    /* opacity: .9; */
}

.parallax-inner {
    padding-top: 17%;
}

.social {
    list-style-type: none;
    text-align: center;
    text-decoration: none;
}

.social li {
    display: inline;
}

.social i {
    font-size: 400%;
    margin: 1% 5% 7% 4%;
}

.btn {
    text-decoration: none;
}

#github {
    color: rgb(58, 90, 45);
}

#github:hover {
    color: #3cc520;
  }
  
  #linkedin {
      color:rgb(28, 39, 87)
  }

  #linkedin:hover {
    color: rgb(0, 47, 255); 
  }
  
  #instagram {
      color:rgb(75, 16, 8)
  }

  #instagram:hover {
    color: rgb(247, 29, 0);
  }
  
  #email {
    color: rgb(61, 0, 61);
  }

  #email:hover {
    color:rgb(250, 12, 250)
  }
  
  #mobile {
      color:rgb(107, 105, 0)
  }

  #mobile:hover {
    color: rgb(255, 251, 30);
  }

  footer.second {
      background-color: #707070;
  }

  footer.second p {
    color: #FFF;
    text-align: center;
  }

  .contact-details:hover {
    transform: translateY(8px);
  }

/* font-family: 'Bungee Outline', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Butcherman', cursive;
font-family: 'Codystar', cursive;
font-family: 'Creepster', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Gugi', cursive;
font-family: 'Libre Barcode 128 Text', cursive;
font-family: 'Londrina Shadow', cursive;
font-family: 'Love Ya Like A Sister', cursive;
font-family: 'Metal Mania', cursive;
font-family: 'Modak', cursive;
font-family: 'Nosifer', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Shojumaru', cursive;
font-family: 'Special Elite', cursive;
font-family: 'Stalemate', cursive;
font-family: 'Ultra', serif; */

